@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("../assets/images/desktop/background-top.png");
  background-repeat: no-repeat;
}

p {
  color: #8794ba;
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #172755;
}
